
header {
    background-color: rgb(255, 208, 0);
}

.windows{
display:flex;
width: 650px;
height:auto;
padding:0px;


}
.option_win {
    width: 250px;
    height: auto;
    
}
.results_win{
    display:flex;
    flex-direction: column;
    width: 750px;
    height: auto;
}