body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*background-color: rgb(202, 255, 127);*/ 
}
textarea {
    font-family: monospace;
}
header {
    font-size: 130%;
    font-weight: bold;
    background-color: rgb(255, 170, 0);
}
.hidden, .initially-hidden {
    position: absolute !important;
    opacity: 0 !important;
    pointer-events: none !important;
    display: none !important;
}
fieldset > legend {
    padding: 0 0.5em;
}
span.labeled-input {
    padding: 0.25em;
    margin: 0.25em 0.5em;
    border-radius: 0.25em;
    white-space: nowrap;
    background: #0002;
}
.center { text-align: center; }
.error {
    color: red;
    background-color: yellow;
}
.strong { font-weight: 700 }
.warning { color: firebrick; }
.green { color: darkgreen; }
.tests-pass { background-color: green; color: white }
.tests-fail { background-color: red; color: yellow }
.faded { opacity: 0.5; }
.group-start { color: blue; }
.group-end { color: blue; }
.input-wrapper {
  white-space: nowrap;
  display: flex;
  align-items: center;
}
#test-output {
  border: 1px inset;
  border-radius: 0.25em;
  padding: 0.25em;
  /*max-height: 30em;*/
  overflow: auto;
  white-space: break-spaces;
  display: flex; flex-direction: column;
  font-family: monospace;
  background-color:rgb(252, 251, 251);
}
#test-output.reverse {
  flex-direction: column-reverse;
}
label[for] { cursor: pointer }




.header {
    background-color: rgb(255, 208, 0);
}

.windows{
display:flex;
padding: 0;
justify-content:center;/*だと子要素は左右中央よせになるよ*/

/*justify-content:flex-start;/*だと子要素は左よせになるよ*/
/*justify-content:flex-end;/*だと子要素は右よせになるよ*/
/*justify-content:space-around;/*は、子要素全ての左右余白を均等にして配置します。*/
/*justify-content:space-between;/*は、子要素全ての端から始まって端で終わるように、左右余白も均等にして配置します。*/
/*justify-content:space-between;*/
}
.option_win {
    display:flex;
    flex-direction: row;
    /*background-color: rgb(202, 255, 127);*/
    /*width: 250px;
    height: auto;
    */
}
.results_win{
    display:flex;
    flex-direction: column;
    width: 800px;
    /*height: auto;*/
    
}
/* CSSコード */
/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 700px;
    margin: 0 auto;
  }
  
  /*タブのスタイル*/
  .tab_item {
    width: calc(100%/3);
    height: 50px;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
  .tab_item:hover {
    opacity: 0.75;
  }
  
  /*ラジオボタンを全て消す*/
  input[name="tab_item"] {
    display: none;
  }
  
  /*タブ切り替えの中身のスタイル*/
  .tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
  }
  
  
  /*選択されているタブのコンテンツのみを表示*/
  #tab_1:checked ~ #tab_1_content,
  #tab_2:checked ~ #tab_2_content,
  #tab_3:checked ~ #tab_3_content {
    display: block;
  }
  
  /*選択されているタブのスタイルを変える*/
  .tabs input:checked + .tab_item {
    background-color: #eed603;
    color: #fff;
  }